[2021-10-25 15:32] qhanam opened #9 "Migrate linter from tslint to eslint"
The RUM web client uses [TSLint](https://palantir.github.io/tslint/) as its linter (in pre-commit and continuous integration). However, TSLint is [deprecated](https://blog.palantir.com/tslint-in-2019-1a144c2317a9) and does not support modern ECMAScript.

Onboard [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/README.md) by followi

[2021-11-02 04:45] qhanam opened #12 "Enforce strict type checks with TypeScript"
Strict type checks in TypeScript gives stronger guarantees about types, but are not currently enforced.

This task is to (1) update tsconfig.json to include `"strict": true` in `compilerOptions` and (2) fix any TypeScript compiler errors with the new configuration.

[2021-11-29 23:29] qhanam opened #50 "X-Ray trace subsegment name can be invalid"
The web client HTTP plugins use the hostname of the callee as the subsegment name. For example, the subsegment name of  `fetch(https://dataplane.rum.us-east-1.amazonaws.com/appmonitors/abc123)` would be `dataplane.rum.us-east-1.amazonaws.com`. When there is no hostname (e.g., if the URL is specified using a relative path like `/appmonitors/abc123`), or if the hostname cannot be read, then the empt

[2021-12-01 18:42] qhanam opened #58 "Unit tests failing with Node.js 16"
GitHub is [updating Node.js to version 16](https://github.com/actions/virtual-environments/issues/4446) in all OS images.

Several unit test suites and unit tests fail when run with Node.js 16:

- `Jest worker encountered 4 child process exceptions, exceeding retry limit`
  - CognitoIdentityClient.test.ts
  - BeaconHttpHandler.test.ts
  - StsClient.test.ts
  - Authentication.test.ts
  - CommandQue

[2021-12-01 22:32] qhanam commented on #58
Related to https://developer.ibm.com/blogs/nodejs-15-release-blog/

[2021-12-01 23:06] thankyouveryfun commented on #12
is anyone working on this?
I could take a stab at it

[2021-12-01 23:09] thankyouveryfun commented on #58
I could try to solve this if nobody is on it

[2021-12-01 23:29] qhanam commented on #58
Thanks for the offer! I picked this up since it is a CI blocker.

More issues to come...

[2021-12-02 00:06] qhanam commented on #12
@thankyouveryfun no one is currently working on this. We do accept and appreciate PRs and are happy to work with you if you would like to work on it.

[2021-12-02 00:38] anuraaga commented on #58
Just to confirm, we wouldn't have expected the CI to automatically break since we install a node version, right?

https://github.com/aws-observability/aws-rum-web/blob/main/.github/workflows/ci.yaml#L21

Of course good to fix the build on newer node (and probably can run CI on multiple nodes) but just checking

[2021-12-02 17:27] #58 closed

[2021-12-02 17:28] qhanam commented on #58
Ah yes you are correct, so the node upgrade is moot. Regardless, this is a bit of a blocker for anyone onboarding using node 16.

[2021-12-07 03:35] #50 closed

[2021-12-16 23:35] ckifer opened #70 "Support AWS Cfn/CDK output of AppMonitor properties/code snippet"
https://github.com/aws/aws-cdk/issues/17939 adds support for the `AppMonitor` Cfn resource within CDK. Is there any way to use that or will there be any future way to output the CW RUM JS snippet (or the properties needed for the snippet) to inject into webapps during deployments?

[2021-12-17 19:57] ckifer opened #71 "[BUG] Javascript snippet error with <script> tags outside of <head> in Chrome"
Certain chrome extensions inject script tags in `document` outside and above `head` tags. While this doesn't feel like something RUM should concern itself with it has caused issues sending metrics while using the JS snippet in Chrome.

[Extension example](https://chrome.google.com/webstore/detail/katal-metrics-devtools/nlmhdpeclcbfjhhcmebnealajpkffdni): this extension injects a script via `documen

[2021-12-17 20:26] qhanam commented on #71
This looks like a good change. A patch will need to be applied to the CloudWatch RUM console, which generates the snippet. I'll bring this to the console team.

[2021-12-17 21:15] #71 closed

[2021-12-18 23:21] blimmer opened #73 "Cache cwr.js file from CDN"
I'm currently trying out the CloudWatch RUM product. One thing I noticed today is that the https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js file is served without any Cache-Control headers:

[code]

This (rightfully) triggers warnings from Lighthouse:

<img width="751" alt="Screen Shot 2021-12-18 at 4 20 24 PM" src="https://user-images.githubusercontent.com/630449/146658010-23a5c2c0-cdd4-49

[2021-12-22 04:59] hemmachat commented on #73
I second this as we once installed RUM script to our site, the Lighthouse score has dramatically decreased. We also using Next.js and they do not recommend to put any scripts inside the "<head>" section as well.

[2021-12-22 19:29] madhuhc opened #74 "n.context.getSession().record fails since if getSession() returns undefined."
`n.context.getSession().record` fails since if `getSession()` returns undefined.

[2021-12-23 22:32] madhuhc commented on #74
[code]

can be changes to

[code]

In the below files

https://github.com/aws-observability/aws-rum-web/blob/1d461c924c188a2fe78e21e5a3dced89e58b42a0/src/plugins/event-plugins/FetchPlugin.ts#L88

https://github.com/aws-observability/aws-rum-web/blob/1d461c924c188a2fe78e21e5a3dced89e58b42a0/src/plugins/event-plugins/XhrPlugin.ts#L142

[2021-12-24 00:02] madhuhc commented on #74
<img width="907" alt="Screen Shot 2021-12-22 at 11 10 01 AM" src="https://user-images.githubusercontent.com/2299130/147300758-2b9bb472-5098-44a7-abb6-29b6730e5b92.png">

[2021-12-24 00:05] madhuhc commented on #74
https://github.com/aws-observability/aws-rum-web/pull/75

[2022-01-10 22:25] qhanam commented on #70
The CloudWatch RUM console currently generates the snippet independently of the service.

I think the only variable needed from RUM to build a snippet is the AppMonitor ID. It looks like [CloudFormation outputs the name of the AppMonitor only](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-rum-appmonitor.html), and does not output the AppMonitor ID.

We will need to ad

[2022-01-10 22:31] ckifer commented on #70
Sweet, I came to this understanding as well and implemented it with an AWS SDK call in a custom resource like this in my CDK:
[code]

It would be awesome to have AppMonitor ID by default in AWS::RUM::AppMonitor though!

[2022-01-11 05:35] qhanam commented on #70
Aha, thanks for sharing this!

I checked and adding the AppMonitor ID as a CloudFormation output is in our backlog. I am closing this issue here. I've referenced it in the internal issue tracking for the relevant components.

[2022-01-11 05:35] #70 closed

[2022-01-11 17:49] qhanam commented on #74
Thank you! Resolved by #75

[2022-01-11 17:49] #74 closed

[2022-01-12 17:21] qhanam commented on #73
Thanks for raising this! We have added Cache-Control max-age=604800 headers to full versions (e.g. `1.0.2`) in CDN and Cache-Control max-age=7200 headers to version ranges (e.g., `1.x` and `1.0.x`) in CDN.

Note that it will take up to 24 hours for the CDN for the new header to appear, since the TTL of the files in the CDN cache is 24 hours.

[2022-01-12 17:21] #73 closed

[2022-01-12 17:23] blimmer commented on #73
Great, thanks for tackling this. What's the official recommendation for what versioning scheme to use? Phrased another way, how will the snippet appear in the console? Will it recommend "latest major" (e.g. `1.x`) or something else?

[2022-01-14 18:18] blimmer commented on #73
Btw, I confirmed the Cache-Control headers appear now. RE: my question above, it looks like the console still recommends a pinned version (1.0.2) for me:

![Screen_Shot_2022-01-14_at_11_14_59_AM](https://user-images.githubusercontent.com/630449/149565319-72ed09b0-ea41-47b4-98c4-4694289f80f9.png)

[2022-01-14 23:02] qhanam commented on #73
Currently and for the near future the console will display a specific version, like `1.0.2`, since using a fixed version is a little safer than one that may change automatically.

The console may migrate to using a "latest major" scheme in the code snippet the future.

[2022-01-14 23:57] blimmer commented on #73
Sounds good - I'll keep an eye out for changes there.

[2022-01-17 15:11] zachjonesnoel opened #78 "[Feature request] The retention period be configurable"
The current retention period is currently 30 days, can that be configured where the users can specify "x" days?

[2022-01-19 16:58] qhanam commented on #78
Hi @zachjonesnoel thanks for the request ! Am I correct in assuming this request is for the RUM service to support longer retention periods (i.e., after the data has been collected by CloudWatch RUM)?

If so I'll forward it to the RUM service team, as this repo is not used to track service requests.

[2022-01-19 17:47] zachjonesnoel commented on #78
Yes @qhanam that is correct! Thanks that would definitely help. I didn't find the relevant GitHub repo so raised an issue here!

[2022-01-19 20:48] ckifer commented on #78
@zachjonesnoel If you are backing your RUM metrics to Cloudwatch Logs you should be able to set the log retention period longer than 30 days. That will at least keep the data until this feature is available.

[2022-01-20 16:55] #78 closed

[2022-02-18 20:29] struginskij opened #94 "Internet Explorer support"
Hello! I am trying to implement AWS RUM in my react application and it works really fine on Chrome but it does not work properly on Internet Explorer. Comparing to the Chrome I see that the application on IE does not fire any calls to the AWS. My suspicious is that IE does not support fetch which cwr script uses to communicate with AWS I believe. I use React 16.3.1 and IE 21H2. I pasted my snippet

[2022-02-21 08:23] stan-czajka commented on #94
Same here. Sad but true. Our team is very excited about using RUM, but some clients still run on Win-based virtual environments with IE11.
Any recommendations on how to make `cwr.js` run in IE11/ES2015 ?

[2022-02-23 05:54] qhanam commented on #94
Thanks for opening this tread!

The CloudWatch RUM web client does not currently support Internet Explorer. The RUM client is safe to use with Internet Explorer since `cwr.js` is transpiled to ES5. However, the RUM client does not perform RUM telemetry when running in IE; it [shuts itself off when it detects it is running in an incompatible browser](https://github.com/aws-observability/aws-rum-web

[2022-02-23 17:17] stan-czajka commented on #94
Thanks @qhanam.
I did some tests trying to make it work with polyfills [https://polyfill.io/v3/polyfill.js?features=default,fetch,navigator.sendBeacon](https://polyfill.io/v3/polyfill.js?features=default%2Cfetch%2Cnavigator.sendBeacon).
I probably got stuck due to your second point "IE-specific behaviors that must be handled". Do you have something specific in mind?
Maybe `cwr.js` could be usable

[2022-02-23 17:54] qhanam commented on #94
The other issue with polyfills is that they increase the size of the bundle. So we likely want two separate builds -- one for "legacy" browsers and one for everything else.

We will need to test the core and each telemetry to see what the issues are. I don't have anything specific in mind, but some examples of things we'll need to look into: (1) I'm not sure polyfills exist for web vitals, (2) eac

[2022-02-25 01:51] blimmer opened #102 "Enable compression for cwr.js"
Today, the text of `cwr.js` is not compressed:

<img width="1011" alt="Screen Shot 2022-02-24 at 18 43 12" src="https://user-images.githubusercontent.com/630449/155638453-b7456f76-b089-47cd-92b7-b6d977ff8852.png">

Since this is served via CloudFront (I'm assuming with an S3 backend), you should be able to simply [enable automatic compression](https://docs.aws.amazon.com/AmazonCloudFront/latest/De

[2022-02-25 16:51] qhanam commented on #102
Thanks @blimmer ! We will look into this.

[2022-03-10 20:31] asennyey opened #117 "Console Errors When window.localStorage Unavailable (iFrame)"
I'm trying to use RUM in an iFrame which has no access to the window.localStorage value.

Environment:
Angular 10.21 in an iFrame (on the same domain)
RUM 1.2.1

I'm injecting the script into head dynamically with the following code,
[code]

Is it possible to add support for storing authentication tokens in cookies when localStorage is not supported (ie in an iFrame)? This doesn't affect usability

[2022-03-11 12:59] sebsonjura opened #118 "are there different sources fro cwr.js other than us-east-1?"
We are aplanning to use rum in eu-central-1 and for a complete GDPR compatble usage I need to get the js file eiter:

***from a domain that is under our control (and in eu-central-1)***
or

*** or a AWS source in eu-central-1***

I did try to change the url from 'https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js' to 'https://client.rum.eu-central-1.amazonaws.com/1.0.2/cwr.js'  and got a 404

[2022-03-11 18:40] qhanam commented on #118
`cwr.js` is a globally distributed static resource. In this case, while the domain includes `us-east-1`, it will not necessarily be served from `us-east-1`. The inclusion of `us-east-1` to the domain name indeed does not follow AWS convention for globally distributed resources, and we are working on renaming the domain to `client.rum.amazonaws.com`.

Because `cwr.js` is a static file, it does not

[2022-03-11 19:32] qhanam commented on #117
Thanks for bringing this up @asennyey !

Storing the token in a cookie is problematic because of the token's size. It can consume a significant portion of the cookie storage limit for the domain.

How can I reproduce this? When I disable localStorage the errors are [caught and ignored](https://github.com/aws-observability/aws-rum-web/blob/main/src/dispatch/Authentication.ts#L133).

[2022-03-11 22:01] asennyey commented on #117
I just tried to reproduce this in a minimal environment and I wasn't able to replicate the issue, it's probably an issue with our project config. I'll investigate further on our end, but thanks for the feedback on the cookie size.

[2022-03-11 22:01] #117 closed

[2022-03-14 14:51] AntiMoron opened #119 "Ignore errors with matching pattern configuration please."
Expecting:

[code]

[2022-03-14 15:22] #118 closed

[2022-03-16 05:05] qhanam commented on #119
Hi @AntiMoron thanks for this request! We'll take a look.

I do think something like this is needed, either to ignore certain errors, dedup errors, or both.

[2022-03-16 09:37] AntiMoron commented on #119
@qhanam Yeah, It's quite common feature in similar products nowadays. But I trust AWS more!!

[2022-03-16 09:37] AntiMoron commented on #119
If any updates about this please let me know.

[2022-03-16 09:42] AntiMoron commented on #119
Some scenes of this feature in real life engineering:
1. Some chrome plugins may cause js error.
2. Some error such as `ResizeObserver loop limit exceeded` only comes from some 17ms time exceed in `requestAnimationFrame` which is no big use to web devs.
3. Some script error comes from setTimeout/setInterval callback function. If you can hook `setTimeout` that would be nice. Currently I prefer to i

[2022-03-17 20:39] adebayor123 commented on #102
Hi @blimmer ! We now support compression for all versions of application monitors. Thank you for bringing this up.

[2022-03-17 20:39] #102 closed

[2022-03-17 21:36] blimmer commented on #102
Great! I confirmed this on my site that uses it. Thanks 👍

[2022-03-24 09:00] tomsender opened #127 "The ability to add labels"
Adding labels/tags is essential in order to analyze the page performance.
For example - account_id, page_name and more

Is it possible to send a label/tag?

Other tools support it:
https://support.speedcurve.com/docs/rum-page-labels
https://docs.sentry.io/platforms/python/enriching-events/tags/

[2022-03-30 16:24] qhanam commented on #127
Hi @tomsender thanks for raising this!

We've just added a feature that allows tags to be added to page views. See the [recordPageView command](https://github.com/aws-observability/aws-rum-web/blob/main/docs/cdn_commands.md#commands).

E.g.,
[code]

Does this feature fit your use case?

Note that the page view automation (`PageViewPlugin`) does not currently support page tags, so to use this featu

[2022-04-18 02:33] AntiMoron commented on #119
@qhanam Hi, can I have some progress info about this feature?

[2022-04-19 17:50] qhanam commented on #119
Hi @AntiMoron no one has picked this up yet.

[2022-04-21 11:56] AntiMoron commented on #119
@qhanam Can I ask if this is a pure frontend function, or this is related to backend?

I want to know if this is workable with open source pull requests.

[2022-04-21 17:04] qhanam commented on #119
Exactly -- this is the question we haven't looked into.

I think it could be a pure frontend function, especially as a quick solution. For example, we could add a configuration option to [`JsErrorPlugin`](https://github.com/aws-observability/aws-rum-web/blob/main/src/plugins/event-plugins/JsErrorPlugin.ts) which holds a callback function (call it `ignore` for now). When `JsErrorPlugin` receives an

[2022-04-28 13:29] Anntoin opened #139 "Add log level support"
We've found that `recordError` is a useful replacement for custom client error logging. However to completely replace what we have now we'd need support for other log levels, e.g. info, warn.

This could be provided by a `recordLog` or `recordEvent` command that supports arbitrary logging. Is this something that would be considered in scope for the rum client?

[2022-05-02 21:24] maniator commented on #9
I have a local branch that I started working on doing this

Is this one a project board somewhere that can be assigned to me? :-)

[2022-05-02 21:40] maniator commented on #12
This _may_ be covered by work on https://github.com/aws-observability/aws-rum-web/issues/9

[2022-05-04 05:29] qhanam commented on #9
No one is currently working on this, you're welcome to.

We don't currently use a project board.

[2022-05-05 13:51] Anntoin commented on #127
@qhanam Should tags also replace the recommendation to record custom pageids for react apps https://github.com/aws-observability/aws-rum-web/blob/main/docs/cdn_react.md#instrument-routing-to-record-page-views

[2022-05-06 16:31] qhanam commented on #127
Tags is an addition to page IDs.

Tags should maybe be read as "page groups". It is a way for you to define, in your web application code, sets of pages with related characteristics. The data for these page groups can then be easily aggregated (e.g., in the CloudWatch RUM console). For example, this is useful if I want to see the average page load time across all landing pages.

A page ID is still

[2022-05-06 18:11] maniator opened #147 "Why the use of both playwrite and testcafe"
Would it make sense just to use one of them?

[2022-05-06 19:45] maniator commented on #147
Now I see there is _also_ nightwatch

[2022-05-11 04:25] adebayor123 commented on #147
Yes, we do plan to migrate to a single framework for our integ tests. We will most likely migrate to Playwright entirely, but it will require rewriting of all our integ test cases, so it is in our backlog.

[2022-05-11 04:25] #147 closed

[2022-05-11 14:53] maniator commented on #147
@adebayor123 is there a public GitHub project board that can be tracked?

[2022-05-18 16:04] gillisandrew opened #161 "Provide option to disable monkey-patching of global methods and allow flexibility in configuring http clients."
Hey, really appreciate the efforts to simplify the initial setup experience but I'm having a couple of issues with the current implementation.

## Specific Issues

In my case I would like to instrument an application with `http` telemetry enabled but I'm faced with a couple of different challenges.

1. The remote service will sometimes return non-error response code that contain error objects that

[2022-05-19 02:45] maniator commented on #161
i have an open PR for uodatijg tyoes of monkey patch, and another for plugins (so that new things can be addrd by others in a much easier way)

[2022-05-19 20:18] qhanam commented on #161
Hi @gillisandrew thanks for the detailed issue! Yes, we are open to contributions.

**1. Allow an option to disable monkey-patching of fetch and instead expose the instrumented client on the AwsRum instance.
2. Allow a fetch API compatible function to be passed as the default http client in the CWR configuration object. Currently this could technically be achieved by monkey-patching fetch before i

[2022-05-20 14:20] gillisandrew commented on #161
@qhanam Thanks for the response! An xray plugin would actually really help address some of the immediate challenges. If it isn't something that is being released in the next couple of weeks I'll likely work on it as an external package just to unblock the current project.

I'd be sure to reference the issue and open a pull request once there is a working solution.

Yeah, I'm aware but we do hope t

[2022-05-20 16:51] qhanam commented on #161
Gotcha. Sounds awesome, thanks @gillisandrew !

[2022-05-20 17:11] qhanam commented on #139
Hi @Anntoin thanks for raising this (and sorry taking so long to respond)! I agree these are important use cases.

For both `recordLog` and `recordEvent`, the CloudWatch RUM service must first support these application-specific event types. Currently, it only supports [a fixed set of events](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-datacollected.html).

For exa

[2022-05-20 17:12] qhanam commented on #119
@adebayor123 is looking into this issue

[2022-05-23 01:22] AntiMoron commented on #119
Thanks a lot!

[2022-05-23 15:49] limhjgrace commented on #161
Hey @gillisandrew! The custom X-Ray annotations feature is definitely in our backlog and I'll most likely be able to get to it mid-June. However, this doesn't include extending the metadata. Could I know more about your use case? Do you have an idea of what the additional data would look like?

[2022-05-26 04:58] #119 closed

[2022-05-27 17:51] maniator opened #168 "Potential slowdown of site due to listening for global keydown events"
In the [`VirtualPageLoadTimer` plugin](https://github.com/aws-observability/aws-rum-web/blob/main/src/sessions/VirtualPageLoadTimer.ts#L81) on line 81 it has a keydown event, which if a user holds down a key it will get hit every ms until they list their finger from the keyboard.

I think there are two options to fix this issue:

1.  debounce the event for keydown
     Down side to this is that we

[2022-05-27 18:23] adebayor123 commented on #168
As discussed offline, `keyup` event and `mouseup` event would be a better solution, as it would not be triggered every ms.

[2022-05-27 19:30] maniator commented on #168
I think I may have a solution without any mouse or key events.

May push PR today or Tuesday

[2022-05-30 10:45] zoellner opened #171 "Several broken links in docs/release notes"
- [ ] Release notes have changelog at https://github.com/aws/aws-rum-web/blob/main/CHANGELOG.md but it should be https://github.com/aws-observability/aws-rum-web/blob/main/CHANGELOG.md (wrong github org name)
- [ ] At the end of docs/npm_installation.md "For a complete list of configuration options, see [Application-specific Configurations](https://github.com/aws-observability/aws-rum-web/blob/mai

[2022-05-30 10:50] zoellner opened #172 "Use enhanced authflow"
Currently, rum uses the basic (classic) authflow. Would it be possible to switch (maybe with a config option) to the Enhanced (simplified) authflow?
Both are documented here:
https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flow.html

Reason for the request is that the basic authflow does not work with RoleMappings.
Error message is `Basic (classic) flow is not supported wi

[2022-06-03 06:06] qhanam commented on #172
Hi @zoellner we're working on it :-)

For unauthenticated identities, ["Cognito applies a scope-down policy to credentials vended by `GetCredentialForIdentity`"](https://docs.aws.amazon.com/cognito/latest/developerguide/iam-roles.html#access-policies). This is currently preventing the web client from using the enhanced authflow.

We're working with Cognito to get CloudWatch RUM added to this list

[2022-06-09 05:39] gunta opened #175 "Is there a list of supported/tested web browsers?"
We need to know what versions of which browsers does it works/doesn't work.
Especially old browsers.

[2022-06-27 17:36] #168 closed

[2022-07-21 04:27] anuraaga opened #183 "Getting approval requests for deployments"
Hello - I seem to still get approval requests for deployments in this repo even though I'm not at AWS anymore. I couldn't find a reference to my user in this repo, so not sure why but would be good if that could be sorted. Thanks.

/cc @Aneurysm9

[2022-07-26 17:03] maniator commented on #139
I am going to see if it is possible to add a recordEvent method to go according to the RUM schema here: https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumEvents.html

[2022-07-26 18:53] maniator commented on #139
@Anntoin see https://github.com/aws-observability/aws-rum-web/pull/185 for possible solution :-)

[2022-07-26 18:53] maniator commented on #175
I think it is all modern browsers and not IE

[2022-07-27 11:59] Anntoin commented on #139
That's awesome 🎉 thanks for following up!

This should cover our use case. I'm on vacation at the moment but looking
forward to checking it out when I get back.

This makes RUM a one-stop shop for all our client-side visibility needs!

On Tue 26 Jul 2022, 19:53 Naftali Lubin, ***@***.***> wrote:

[2022-08-01 14:17] a-h commented on #70
Hi @qhanam, I see you've closed this issue because you're tracking it internally within something, but obviously, I can't see that, and I have no way of being notified when you've added the feature.

It would be great if you left issues like this open until you've implemented it.

In Github you can subscribe to issues, to get notified when there are updates.

So ideally, when you've added this ref

[2022-08-01 14:45] ckifer commented on #70
Hi @a-h!

Totally agree with the value of leaving issues like this open. It can be tricky to track things two places at once though so in understanding why things get closed. If they don't re-open this I'd be glad to comment back here once I know that feature is out :).

In the meantime, what issues are you having with the above snippet? It's still working like a charm for me (CDK 2.17 or so).

[2022-08-01 17:38] a-h commented on #70
Thanks @ckifer, I wasn't sure where to add the function, or where the value of the physical resource ID would come from.

I used the L1 construct detailed here in https://github.com/aws/aws-cdk/issues/17939#issuecomment-997152155

[code]

I just wasn't sure where the function would get added to that construct in order for me to export a CloudFormation `CfnExport` containing the App Monitor ID, whi

[2022-08-01 18:30] ckifer commented on #70
@a-h Sweet yeah so you'd just add the snippet to the construct class. For the physicalId you can use anything as long as it doesn't changed. I generated a random UUID and used it hardcoded.

This is my full construct:
[code]

From here you can access the `appMonitorId` on the construct
[code]

[2022-08-02 17:42] omerfarukaslan opened #189 "Error filtering doesn't filter errors caused by browser extensions"
Error ignore feature doesn't filter out errors caused by browser extensions. such as `@moz-extension` and `chrome-extension`.

Using the error handler function like this:
[code]

In addition to this issue, that would be also great to be able to filter out 4XX errors.

Thank you.

[2022-08-02 18:15] adebayor123 commented on #189
After doing some testing, I noticed that (1) the regex expressions are fine, and (2) the behavior of not being able to filter is not restricted to errors caused by browser extensions, but rather due to being in the `error?.stack` field.

Once I placed the example stack messages @omerfarukaslan shared into the Error.message field, the filtering worked correctly.

[2022-08-05 01:29] anuraaga commented on #183
Still getting - @qhanam can you take a look?

[2022-08-06 19:50] qhanam commented on #183
Sorry about that -- fixed!

[2022-08-06 19:50] #183 closed

[2022-08-09 17:03] qhanam commented on #189
@adebayor123 so is this an issue with the filter function then? Or is this something in the web client?

[2022-08-09 17:09] qhanam commented on #175
The web client is tested against Chrome, Firefox and Edge desktop browsers in the CI workflow. We have also done limited testing with Safari.

The web client will run on [browsers that support](https://github.com/aws-observability/aws-rum-web/blob/main/src/index-browser.ts#L11) `fetch` and `sendBeacon`.

We have not yet added a full cross-browser testing service, so we can't break out results by d

[2022-08-09 17:13] #171 closed

[2022-08-09 17:15] qhanam commented on #127
CloudWatch RUM now supports the ability to tag pages with a "page group".

[2022-08-09 17:15] #127 closed

[2022-08-12 01:03] BulletBored commented on #70
@ckifer Hi, when I try to read `rum.appMonitorId` with above code I still get `${Token[TOKEN.4086]}` is it what is expected or should it be reading an actual MonitorId?
Thanks!

[2022-08-12 01:05] ckifer commented on #70
@BulletBored that is a token that will resolve to your monitor ID at deploy time. It doesn't know the AppMonitorId until the app monitor is actually created so that value will be a token until the monitor finishes deploying and the custom resource can retrieve the ID.

[2022-08-12 01:11] BulletBored commented on #70
Ah, I see, that makes sense now, thanks! Appreciate the prompt response!

[2022-08-12 20:12] hv-rruiz opened #207 "Ability to set the awsSigV4 to scope to API Gateway"
Hi all!

I wanted to ask if it's possible to scope the ```awsSigV4``` object w/in the ```DataPlaneClient``` to something other than ```rum```. The service attribute only allows ```rum```.

I've noticed in the documentation it's possible to set an endpoint to an API gateway proxy. However the permissions won't quite work with the client to only give the client the ability to call the API because th

[2022-08-23 19:13] qhanam commented on #207
Hi! The service argument for sigv4 isn't configurable in the web client right now. You could fork the web client and change it and we could potentially upstream it later if it's useful.

Do you need the data between the web client and API gateway to be signed? If you don't, you could provide dummy credentials via `setAwsCredentials` and strip the sigv4 header in API gateway.

[2022-08-23 19:18] qhanam commented on #189
We treat codes which indicate a server error a little differently than JavaScript errors.

So the question is, should we overload the `ignore` config function by including HTTP responses, or create a new config option?

[2022-08-23 23:53] omerfarukaslan commented on #189
I would be in favor of overloading the ignore function.

[2022-08-24 16:39] adebayor123 commented on #189
@qhanam I just saw this notification - back when this issue first was raised by omerfarukaslan@, I wasn't able to fully reproduce the issue.
@omerfarukaslan were you able to find the root cause of the issue?

[2022-08-24 17:36] omerfarukaslan commented on #189
Unfortunately I couldn't find the root cause.

[2022-08-25 19:56] adebayor123 commented on #189
Synced up with omerfarukaslan@ yesterday, the issue could be that the browser extension specific errors could be a `PromiseRejectionEvent`, which is set to return False in the error filtering method above. He stated he will try testing and get back with the result.

[2022-09-02 05:34] amitnavindgi opened #218 "Incorrect type definition for methods in XhrPlugin"
Hi folks,

Thanks for developing `aws-rum-web`. It is a great library with a promising roadmap.

When I install `aws-rum-web` via `yarn` in a Vue application that uses Typescript 4.4 I get the following errors in dev server (`yarn run serve` which also results in a build failure via `yarn run build`.

[code]

I believe it is due to an incorrect type being inferred from [this line](https://github.c

[2022-09-07 00:02] #189 closed

[2022-09-07 00:05] omerfarukaslan commented on #189
It turns out browser extension errors were not getting filtered due to `PromiseRejectionEvent`s were not handled on my code. Updating the code like below fixed the issue.

`export const rumErrorHandler = (
  event: ErrorEvent | PromiseRejectionEvent
): boolean => {
  return errorEventHandler(
    event instanceof ErrorEvent
      ? event
      : ({
          type: event.type,
          error: even

[2022-09-08 04:13] qhanam commented on #218
Thanks for the detailed issue @amitnavindgi ! Taking a look..

[2022-09-08 05:27] #218 closed

[2022-09-09 18:19] qhanam commented on #218
We've published v1.8.3, which includes this patch. Thanks again for the contribution!

[2022-09-10 04:25] amitnavindgi commented on #218
Thanks for the quick fix!

[2022-09-14 10:01] tlakomy opened #227 ""CWR: Failed to retrieve Cognito identity" error thrown by aws-rum-web"
Hello,

First of all - thank you for building CloudWatch RUM, looking forward to seeing how this project will evolve.

We just noticed a following issue in our DataDog (occurred only once so far):
<img width="1220" alt="Screenshot 2022-09-14 at 11 59 55" src="https://user-images.githubusercontent.com/16646517/190124405-73c28941-ae65-44d7-a0fb-08e3656b80cc.png">

Are there any actions we could take

[2022-09-19 15:55] tlakomy opened #231 "Support for sourcemaps in aws-rum-web"
Hello,

Are there any plans to support sourcemaps in CloudWatch RUM? In short I'd like to be able to understand the root cause of errors similar to this:

![image](https://user-images.githubusercontent.com/16646517/191060163-2187ab46-aa3c-425b-aaa6-1ef5487c7b09.png)

I'm looking for something similar to https://docs.datadoghq.com/real_user_monitoring/guide/upload-javascript-source-maps/

[2022-09-19 16:04] tlakomy opened #232 "Question: is `interaction` telemetry ready to be used?"
While browsing this repo I've noticed this section on `interaction` telemetry:

https://github.com/aws-observability/aws-rum-web/blob/main/docs/configuration.md#interaction

As far as I can tell this is not documented anywhere else (https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM.html) and it's unclear to me whether I can try to use it to record DOM events.

Thank you

[2022-09-19 16:20] tlakomy commented on #175
Is there an issue to track that? I'm worried about Safari a fair bit since Safari-only bugs are not uncommon in JS world and we have a fair share of customers using Safari.

[2022-09-19 16:34] tlakomy opened #233 ""CWR: Failed to retrieve credentials from STS" error thrown by aws-rum-web"
Hello,

We've noticed an error thrown by aws-rum-web client itself in our AWS RUM monitoring (occurred only once so far):

<img width="810" alt="Screenshot 2022-09-19 at 18 32 44" src="https://user-images.githubusercontent.com/16646517/191067653-90cc759f-179d-4686-bbc7-dcff6e2d8a62.png">

The error itself is thrown here: https://github.com/aws-observability/aws-rum-web/blob/1d461c924c188a2fe78e21e

[2022-09-20 17:57] qhanam commented on #227
Yes I think this is a good suggestion. We'll pick it up.

If it's not consistently failing then I don't currently have any insight into what the root cause could be.

Have you been able to reproduce the error? If not, I agree that improving the error message is a good first step.

To minimize the bundle size, the rum-web-client doesn't use the complete AWS SDK to connect to Cognito or STS, so ther

[2022-09-20 18:05] qhanam commented on #227
There are two root causes of Cognito/STS failures outlined in the [troubleshooting doc](https://github.com/aws-observability/aws-rum-web/blob/main/docs/cdn_troubleshooting.md#aws-token-vending-cognito-or-sts-fails), however, I would expect Cognito/STS to be consistently failing in these cases.

[2022-09-20 18:13] qhanam commented on #233
This could happen if the first attempt to call STS failed (e.g., due to a network error), but the second attempt succeeded.

Yes -- see https://github.com/aws-observability/aws-rum-web/issues/227#issuecomment-1252712017

[2022-09-20 18:38] qhanam commented on #232
The `interaction` telemetry is safe to use for recording DOM events. For example, if I wanted to record clicks on elements with attribute `data-rum="record_this` or `data-rum="record_that"`, then I might configure the web client (the `interaction` telemetry specifically) like so:

[code]

[2022-09-20 18:45] qhanam commented on #231
We (the CloudWatch RUM team) are exploring this, although it is outside the scope of the CloudWatch RUM web client.

[2022-09-21 16:04] tlakomy commented on #232
@qhanam thanks for the answer! Once I set up an `interaction` telemetry, how can I see the recorded clicks?

[2022-09-23 13:51] tlakomy commented on #12
👋 Are there plans to resolve this issue? It seems that there's quite a lot of TS errors when enabling `strict` mode on `main` branch:

![image](https://user-images.githubusercontent.com/16646517/191975743-9bcfa9a1-e1aa-4718-afd1-53849db9d01d.png)

I wanted to give it a shot myself, but at >300 errors this would take me a substantial amount of time given that I'm not familiar with the codebase.

[2022-09-23 13:55] tlakomy commented on #227
@qhanam for the record - we're seeing those errors once every few days so it's not consistent

[2022-09-23 20:35] qhanam commented on #232
@tlakomy the CloudWatch RUM console doesn't show click metrics yet. A workaround is to export the data to CloudWatch Logs. From there you can [create metrics](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CreateMetricFilterProcedure.html) and dashboards for DOM events, and search the raw events using CloudWatch Insights queries.

[2022-09-23 20:37] qhanam commented on #227
Good to know; thanks!

[2022-09-23 20:52] qhanam commented on #12
Yes there are a lot -- frankly it's a bit daunting for us too.

[2022-09-27 04:09] codermpl opened #236 "Include domain as dimension in HttpStatusCodeCount metric"
Could we get the domain, host or hostname added as a dimension to the HttpStatusCodeCount metric. Most pages only make requests to a fixed number of domains, so the cardinality of this dimension should reasonable. This would let us filter the metric based on the domain the request go to.

We could do this with a metricFilter on the logs, but that is a pain. Wanting to see your failures broken down

[2022-09-27 04:37] codermpl commented on #236
Hmm, the documentation says "CloudWatch does not aggregate across dimensions for your custom metrics.". That seems really limiting for this. But since HttpStatusCodeCount is an AWS metric, not a custom metric, I guess that doesn't apply.

 https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Dimension

[2022-09-27 23:43] ZackKanter commented on #9
I believe this was closed by https://github.com/aws-observability/aws-rum-web/pull/234

[2022-09-28 00:25] #9 closed

[2022-09-28 00:35] qhanam commented on #236
Hi @codermpl thanks for the use case!

One workaround is to export the data to CloudWatch Logs and create metric filters on those logs.

At the same time, I'll note this as a feature request :-) .

[2022-09-28 01:23] codermpl commented on #236
Thank you. I've started working on that.

[2022-09-28 15:36] #12 closed

[2022-09-30 12:48] dbreeze-veeqo opened #245 "Moving a tab to the background inflates LCP"
The LCP measure uses a PerformanceObserver. As PerformanceObservers don't run in the background, if a user visits a page and minimizes / changes browser tab before the LCP is measured then the LCP value will be the time the browser tab is brought back to the foreground

[2022-09-30 14:54] dastra commented on #70
Similar to CDK workaround above, I've put together a customer resource in a cloudformation template which extracts both the RUM App Monitor ID and Cognito Guest Role Arn which allow you to construct the Javascript snippet:

[code]

[2022-10-07 07:42] dbreeze-veeqo commented on #245
Any updates?

[2022-10-17 18:27] qhanam commented on #245
Hi @dbreeze-veeqo, we bumped the web vitals version (from v1 to v3) in release 1.9.x. Could you check to see if that resolved the issue?

[2022-10-20 18:10] #236 closed

[2022-10-20 18:10] #232 closed

[2022-10-25 21:57] #227 closed

[2022-10-26 14:44] bahrmichael opened #274 "Resource handler returned message: "null"
Raising this issue here because I don't know how else I would reach the RUM team.

When I try to create a RUM monitor via an L1 CDK construct, CloudFormation outputs the following error.

[code]

I have admin permission when executing `cdk deploy`.

Is there more info to this than just `"null` that I can find anywhere? Also checked if there are any CW logs, but without success.

The CloudFormation

[2022-10-26 23:56] qhanam commented on #274
This should be fixed. There was an issue with the service CloudFormation resource.

[2022-10-26 23:56] #274 closed

[2022-10-27 08:36] bahrmichael commented on #274
Thank you! After deleting the CloudFormation stack and any stale resources (i.e. RUM app) I successfully deployed the app. That was an incredibly fast fix :)

[2022-11-04 14:31] piwysocki opened #282 "bump aws-sdk dependencies"
Used aws-sdk packages are old. Can be updated to latest version

`"@aws-sdk/client-rum": "^3.202.0"`
`"@aws-sdk/fetch-http-handler": "^3.201.0"`
`"@aws-sdk/protocol-http": "^3.201.0"`
`"@aws-sdk/signature-v4": "^3.201.0"`
`"@aws-sdk/util-hex-encoding": "^3.201.0",`

[2022-11-04 22:24] qhanam commented on #282
The minor and patch versions are automatically bumped by NPM. Why is this needed?

[2022-11-06 09:36] piwysocki commented on #282
to update versions in package-lock.json file

[2022-11-08 15:21] MyGuySi commented on #245
Hey @qhanam, are you able to clarify whether RUM detects and filters out LCP events for pages that were opened in the background? It looks like the `web-vitals` library will record LCP for all pages regardless of whether they were opened in the background or not, so I don't think bumping the version will have any effect on this issue. We're still seeing very large spikes in LCP (as high as 2 hours

[2022-11-10 10:21] johnw-dev commented on #233
We're seeing this issue on a semi frequent basis as well.  With the updated logging we saw this:

Unhandled Exception: `CWR: Failed to retrieve credentials from STS: TypeError: NetworkError when attempting to fetch resource.`

Is it a performance consideration that we attempt STS assume once?  If not, does it make sense for the library to be updated to perform a retry to reduce incidence of this i

[2022-11-10 15:14] kpalmvik opened #290 "Is there a maximum length for a recorded error message?"
When recording an error, is there a maximum length of the `message` from the [`Error`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/Error) that can successfully be recorded?

For example:

[code]

The reason I'm asking is that I have encountered errors recorded to CloudWatch RUM simply as _Empty or no message_. One reason could have been that the error mes

[2022-11-11 22:35] qhanam commented on #290
Could you provide steps to reproduce? If it can be reproduced with the snippet you provided, how long is "very long"?

[2022-11-11 23:18] qhanam commented on #245
It looks like the standard approach to handle this case is to discard the LCP values. Specifically, when the page was loaded in the background, the CloudWatch RUM web client should not record the LCP.

[2022-11-12 08:19] kpalmvik commented on #290
I hope to be able to reproduce this at some point, but I have not been able to do it so far.

Hence I take a theoretical approach and wonder if there is a known maximum limit (which wouldn’t be completely unthinkable) that is just not documented. This could very well be completely unrelated to the problem I’m seeing.

[2022-11-14 00:34] qhanam commented on #290
Got it, thanks! There are limits on the number of events per (PutRumEvents) request, and per event. However, if you were hitting these you would see the entire event dropped.

Also consider:
1. It is possible to create an error with no message (e.g., `new Error()`).

1. Different browsers record errors in different ways. For example, Firefox adds filename, lineno and colno to error objects.

1. Di

[2022-11-14 22:11] qhanam commented on #233
The web client makes three attempts before disabling itself. If you are receiving the error in RUM, that means one of the two retries succeeded.

The requests to STS are non-blocking.

Closing as resolved by #272

[2022-11-14 22:11] #233 closed

[2022-11-14 22:14] qhanam commented on #282
These will be automatically bumped by dependabot.

It looks like the CI is failing for one of these bumps, which we'll need to look into before merging the dependabot bumps.

[2022-11-15 21:18] limhjgrace commented on #245
Hello, I've verified that after bumping the `web-vitals` library for the web client, LCP for pages opened in the background is not recorded as I was unable to reproduce this issue using web client release 1.11.x. As Quinn mentioned, this update is available from release 1.9.x and higher. Could you verify if this issue still persists with the newer web client releases? If not, feel free to close th

[2022-11-15 22:31] JoshBarr opened #294 "feat: consider accepting the navigator.userAgent string in the dataplane API"
Hello 👋

I'm implementing RUM monitoring for a library that's deployed on a number of websites. For this use-case, the final bundle size is of critical importance. I noticed that RUM is bundling `ua-parser-js` (approx 6kb gzipped) to obtain information about the navigator. Unfortunately this adds too much weight for me to include within the performance budget for my library.

Could the RUM datapla

[2022-11-18 16:54] qhanam commented on #294
Hi Josh, agree this is a good ask. Out of curiosity, what is your budget for RUM in your library (compressed/uncompressed)?

[2022-11-21 03:03] JoshBarr commented on #294
We've written a very minimal custom RUM client that fits in about ~4kb gzipped. We only really need this RUM instance for error tracking on sessions, it doesn't need x-ray or web vitals. This library is running on pages that may have their own RUM solution already (either AWS RUM or another vendor), so we want to avoid loading multiple RUMs on the page.

We plan on improving on this total size by

[2022-11-22 23:50] #245 closed

[2022-11-22 23:52] #290 closed

[2022-11-23 00:24] JoshBarr opened #305 "architecture: don't require authentication to post metrics"
When a new user visits my site, CW RUM kicks off a series of steps before sending metrics: the browser obtains an anonymous identity from the Identity Pool, fetches a token for the identity, assumes role via STS, and stashes the credentials in localstorage.

Once an identity is obtained, the client then performs cryptography (sigv4) on every metrics payload before sending it over the wire.

Initia

[2022-11-24 22:01] RahulChowdaryN opened #307 "unable to build aws-rum-web in typescript: Cannot find name 'PerformancePaintTiming'."
Hey

I'm working on a poc to use cloudwatch rum agent and added aws-rum-web to package.json

when built using tsc, it gives the below error.

<img width="1495" alt="image" src="https://user-images.githubusercontent.com/30716895/203868369-553eebff-9f33-445d-aed6-94aa6b1dbff6.png">

tsconfig.json

using ES6 as target

[2022-11-30 07:55] qhanam commented on #305
Hi @JoshBarr thanks for this feedback/feature request! I agree with your points and the short answer is yes, the CloudWatch RUM team does consider (and appreciate!) such requests.

However, let me also shed some light on why we do this, and offer a workaround.

### Why CloudWatch RUM uses authentication and authorization

Like most AWS services, the CW RUM endpoint uses AWS authentication and auth

[2022-11-30 08:08] qhanam commented on #307
Hi @RahulChowdaryN , my first guess is that this is related to https://github.com/GoogleChrome/web-vitals/issues/249

Specifically, newer versions of TypeScript contain a built-in `PerformancePaintTiming` type. So to fix this, you could (1) update TypeScript or (2) polyfill these types by adding them to a types file in your project.